{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shoxrux Mirjalilov</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="{% static 'assets/img/icons.png' %}" rel="icon">
  


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">


  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  

 <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <header id="header" class="d-flex flex-column justify-content-center">
   
 
    <nav id="navbar" class="navbar nav-menu">
      
      <ul>
        
        <li><a href="{% url 'index' %}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav>

  </header>

  
 
  <section id="hero" class="d-flex flex-column justify-content-center">

    <div class="container" data-aos="zoom-in" data-aos-delay="100">      
      <h1>Shoxrux Mirjalilov</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Freelancer"></span></p>
      <div class="social-links">
        <a href="https://twitter.com/shxrxmrjll" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/shxrxmrjll" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/shxrxmrjll" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://vk.com/shxrxmrjll" class="twitter"><i class="bx bxl-vk"></i></a>    
        <a href="https://t.me/shoxruxmirjalilov" class="twitter"><i class="bx bxl-telegram"></i></a>
        <a href="https://t.me/shxrxmrjll" class="twitter"><i class="bx bxl-telegram"></i></a>
        <a href="https://www.youtube.com/channel/UCZcbgceYfze-zBjLd39gh7w" class="twitter"><i class="bx bxl-youtube"></i></a>
        <a href="https://youtube.com/channel/UCcpJ43fpGrwnpYwujcHP61g" class="twitter"><i class="bx bxl-youtube"></i></a>
      </div>
    </div>
  </section>

   
     <div> 
       <br><br><br><br><br><br><br><br><br><br><br><br>
     </div>
    
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Tashkent Uzbekistan</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>info@shokhrukh.uz</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+998 97 140 1717</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form  method="post"  class="php-email-form"> {% csrf_token %}
              
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="text-center email-form"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>

  </main>

  <footer id="footer">
    <div class="container">
      <h3>Shoxrux Mirjalilov</h3>
      
      <div class="social-links">
        <a href="https://twitter.com/shxrxmrjll" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.facebook.com/shxrxmrjll" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/shxrxmrjll" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://vk.com/shxrxmrjll" class="twitter"><i class="bx bxl-vk"></i></a>    
        <a href="https://t.me/shoxruxmirjalilov" class="twitter"><i class="bx bxl-telegram"></i></a>
        <a href="https://t.me/shxrxmrjll" class="twitter"><i class="bx bxl-telegram"></i></a>
        <a href="https://www.youtube.com/channel/UCZcbgceYfze-zBjLd39gh7w" class="twitter"><i class="bx bxl-youtube"></i></a>
        <a href="https://youtube.com/channel/UCcpJ43fpGrwnpYwujcHP61g" class="twitter"><i class="bx bxl-youtube"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span><a href="https://instagram.com/shxrxmrjll">Shoxrux</a>  2021</span></strong>
      </div>
      
    </div>
  </footer>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
     <script>
    {% for msg in messages %}
  swal(" {{msg}} ");
    {% endfor %}
    </script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  

</body>

</html>